@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700;800;900&family=Poppins:wght@400;500&display=swap");

:root {
  --main: #289bde;
  --white: #fff;
  --dark: #1d1d1d;
  --dark-2: #4a4a4a;
  --dark-3: #777777;

  /* Font size */
  --text-title-main: 50px;
  --text-title: 45px;
  --text-subtitle: 25px;
  --text-sm: 20px;
  --text-xs: 18px;

  --font-main:"Mulish", sans-serif;
  --font-second:"Poppins", sans-serif;
}

body {
  /* font-family: "Mulish", sans-serif; */
  font-family:var(--font-second) ;
  font-weight: 400;
}

p{
  font-size: var(--text-xs);
}

.custom-width{
  max-width: 632px !important;
}
/* Main css start  */

.reg-btn {
  font-size: var(--text-sm);
  color: var(--main);
  padding: 12px 30px;
  border: 1px solid var(--main);
  border-radius: 5px;
  background-color: transparent;
}

.pe-btn {
  font-size: var(--text-sm);
  color: var(--white);
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--main);
}

.carousel-item {
  position: relative;
}
.overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 29, 0.7);
  left: 0;
  top: 0;
  opacity: 0.6.5;
  z-index: 1;
}

.carousel-caption{
  z-index: 2;
  bottom: 50%;
  transform: translateY(50%);
}

.main-title{
  font-size: var(--text-title-main);
  font-family: var(--font-main);
}

.hero-text{
  font-size: var(--text-xs);
  font-family: var(--font-main);
  max-width: 550px;
}

.title{
  font-size: var(--text-title);
  font-family: var(--font-main);
}
.subtitle{
  font-size: var(--text-subtitle);
  font-family: var(--font-main);
}

.price{
  font-size: var(--text-xs);
  color: var(--main);
}


/* Courses Section  */

.course-bg{
  background: #F4FAFD;
}

/* subscribe  */


.subscribe-bg{
  background-color: var(--main);
}
.subscribe .pe-btn{
  color: var(--main);
}